<html>
  <head>
    <link rel="stylesheet" href="/styles.css">
    <title>About</title>
  </head>
  <body>
    <%- include('templates/navbar', { links: links }) %>
    <h2> This is the about page.</h2>
    <%- include('templates/footer') %>
  </body>
</html>