* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;

  row-gap: 0;
  display: grid;
  grid-template-rows: 1fr 10fr 2fr;
  grid-template-areas: 
  "navbar"
  "list"
  "foot";
}

#nav-01 {
  grid-area: navbar;
  padding: 10px;

  display: flex;
  justify-content: flex-end;

  background-color: cadetblue;
}

#nav-01 > ul {
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}

a {
  color: white;
  text-decoration: none;
}

.user-list, h2 {
  padding: 20px;
  grid-area: list;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: foot;
  background-color: cadetblue;
  color: white;
}
